@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/backgroudn\ nav.jpg);
}

.navbar{
    background-color: rgba(255, 255, 255, 0.842);
}

#logoBlue{
    margin: 2px;
}

.btn{
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    
}


.btn-primary:not(:disabled):not(.disabled) {
    border-radius: 100px;
}

.form-inline {
    display: flex;
    align-content: center;
    justify-content: center;
}

#txtBlue{
    display: flex;
    justify-content: center;
    color: #0069d9;
    font-family: 'Squada One', cursive;
    font-size: xx-large;
}

.navbar-brand{
    margin: 0 auto;
}



section{
    margin: 65px 0px 0px 0px;
}



#formulario{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.form-control{
    border: none;
    background-color: transparent;
    border-radius: 0;
}

#formulario input{
    background-color: transparent;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
}

#formulario h3{
    color: aliceblue;
}

#formulario input{
    background-color: transparent;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
}


#formulario ::placeholder{
    color: rgba(240, 248, 255, 0.623);
}

#form-button button{
    margin-right: 10px;
}

#form-btn{
    display: flex;
    justify-content: center;   
}

#form-btn button {
    margin: 10px;
}


.form-control{
    width: 500px;
}
#form-header{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#form-header h1{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
}



#linha hr{
    background-color: rgb(255, 255, 255);
    height: 2px;;
}


/*Caixa flutuante*/
.hide {
    display: none;
}

.modal-bg {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: gainsboro;
    opacity: 0.5;
}

.modal-content {
    position: fixed;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    line-height: 20px;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #21abce;
    border-radius: 20px;
    padding: 5px;
}

.modal-content h3{
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 1px;
}
