@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}
section{
    margin: 100px 0px 0px 0px;
    width: 500px;
    height: 500px;
}
#form-header{
    text-align: center;
    margin-bottom: 50px;
}
#form-header h1{
    color: #9090ff;
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
}
#linha hr{
    background-color: #000;
    height: 2px;
}
#btn{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}


#btn a {
    padding: 5px;
}


button{
    padding: 5%;
    height: 60px;
    width: 150px;
}
