.navbar{
    background-image: url(/img/backgroudn\ nav.jpg);
}

#logoBlue{
    margin: 2px;
}

.btn{
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.btn-outline-primary{
    border-color: white;
}
.btn-outline-primary:not(:disabled):not(.disabled) {
    color: white;
    border-radius: 100px;
}


.btn-primary:not(:disabled):not(.disabled) {
    border-radius: 100px;
}

.form-inline {
    display: flex;
    align-content: center;
    justify-content: center;
}

#txtBlue{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: 'Squada One', cursive;
    font-size: xx-large;
}

.navbar-brand{
    margin: 0 auto;
}


/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}
section{
    margin: 180px 0px 0px 0px;
    width: 500px;
    height: 500px;
}
#form-header{
    text-align: center;
    margin-bottom: 50px;
}
#form-header h1{
    color: #9090ff;
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
}
#linha hr{
    background-color: #000;
    height: 2px;
}
#btn{
    display: flex;
    justify-content: center;
}


#btn a {
    padding: 5px;
}


button{
    padding: 5%;
    height: 60px;
    width: 150px;
} */
